*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
}
.container{
    /* width: 1440px; */
    height: 90vh;
    width: 90vw;
    display: grid;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    /* margin: 4rem 4rem 4rem 4rem; */
    background-color: hsl(226, 43%, 10%);

} 
    
.content{
    width: 80%;
    height: 90%;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4/1fr);
    grid-template-rows: repeat(2/1fr);
    gap: 2rem;
    grid-template-areas: 
    "one two three four"
    "one five six seven"

}
.profile img{
    height: 20%;
    border: 2px solid white;
    border-radius: 50px;   
}
.one{ 
    grid-area: one;

}
   
.two{
    grid-area: two;
    background-color:hsl(235, 46%, 20%);
    

}
.three{
    grid-area: three;
    }
.four{
    grid-area: four;
}
.five{
    grid-area: five;
    }
.six{
    grid-area: six;
    }
.seven{
    grid-area: seven;
   
}
